<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenBook</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body ng-app="OpenBook">
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - OpenBook</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-route.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/app/layout/home.ctrl.js"></script>
    <script src="~/js/story.ctrl.js"></script>
    <script src="~/js/main.ctrl.js"></script>
    <script src="~/js/snippet.ctrl.js"></script>
    <script src="~/app/layout/routing.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/hammer.js/hammer.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
