@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>{{main.title}}</h1>

    <br>

    <div ng-repeat="snippet in snippets">
        <h1>{{snippet.Content}}</h1>
        <h1>{{snippet.Author}}</h1>
    </div>

    <br>
    
    <form ng-submit="submit()" ng-controller="MainController">
        <label>Snippet Content</label>
        <input type="text" id="contentText" class="form-control" ng-model="snippetContent" />
        <br>
        <label>Snippet Author</label>
        <input type="text" id="authorText" class="form-control" ng-model="snippetAuthor" />
        <br>
        <input type="submit" value="submit" />
    </form>
    <br>


</div>